@font-face {
    font-family: 'poppins-ExtraBold';
    src: url(../assets/font/Poppins/Poppins-ExtraBold.ttf);
}

.content{
    display: flex;
    flex-direction: column;
}

.content img{
    width: 80%;
    margin: 5% 10% 20% 10%;
}

.content .text{
    margin-left: 5vw;
    line-height: 50px;
}

.content h3{
    font-family: 'poppins-medium';
    font-size: 4vw;
    margin: 0;
}

.content h1{
    font-family: 'poppins-ExtraBold';
    font-size: 12vw;
    margin: 0;
}