.cv{
    font-family: 'poppins-extrabold';
    font-size: 12vw;
    height: 40vh;
    margin: 10vh 0 50% 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media screen and (min-width: 1024px){
    .cv{
        font-size: 5vw;
        flex-direction: row;
        margin: 0;
        align-items: center;
        height: 79vh;
    }
}