.language, .copyright{
    display: flex;
    font-family: 'Poppins-medium';
}

.language img{
    width: 20px;
    margin-left: 5px;
}

.copyright img{
    width: 15px;
    margin-left: 5px;
}

.footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10%;
}

.language button{
    background-color: var(--white);
    border: 1px solid var(--black);
    width: 100px;
    margin: 10px 20px 10px 20px;
    font-family: 'Poppins-medium';
    border-radius: 3px;
    box-shadow:2px 2px 7px -3px rgba(0,0,0,0.75);
}

.language button:hover{
    box-shadow: none;
    background-color: var(--orange);
    border-radius: 0;
}

@media screen and (min-width: 1024px){
    .footer {
        justify-content: space-between;
        margin: 2% 40% 0 2%;
    }
}