.language, .copyright{
    display: flex;
    font-family: 'Poppins-medium';
}

.language img{
    width: 20px;
    margin-left: 5px;
}

.copyright img{
    width: 15px;
    margin-left: 5px;
}

.footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10%;
}

.language select{
    background: none;
    border: none;
}

.language label{
    display: flex;
}

@media screen and (min-width: 1024px){
    .footer {
        justify-content: space-between;
        margin: 2% 40% 0 2%;
    }
}