@font-face {
    font-family: 'inter';
    src: url(../assets/font/Inter/static/Inter-Regular.ttf);
}

@font-face {
    font-family: 'poppins-medium';
    src: url(../assets/font/Poppins/Poppins-Medium.ttf);
}

.header {
    font-family: 'poppins-medium';
    display: flex;
    justify-content: center ;
    align-items: center;
    background-color: var(--white);
    color: var(--black);
    flex-direction: column;
    margin-bottom: -1px;
    background-color: var(--white);
}

.header h2{
    font-family: 'inter';
    font-size: 5.5vw;
    letter-spacing: 0.425em;
    text-transform: uppercase;
    margin-bottom: 64px;
}


/* active nav */

.header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5vw;
    padding: 20px 0 30px 0;
    gap: 10px;
}

.header .reseau{
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin: 0 20% 0 20%;
    padding-bottom: 30px;
}

.activeNav, .disableNav{
    padding: 0;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    width: 100%;
}


.activeNav img{
    width: 100%;
    border: none;
}

.disableNav img{
    width: 100%;
}

.disableNav{
    position: absolute;
    top: 11vw;
}

.position{
    width: 100%;
    background-color: var(--white);
}

/* supperposition menu */

.header .menu{
    width: 100%;
    position: absolute;
    top: 10vw;
}

.header .menuBg{
    background-color: var(--white);
}