@font-face {
    font-family: 'roboto';
    src: url(../assets//font/Roboto/Roboto-Regular.ttf);
}

.parcours h3{
    font-family: 'poppins-extrabold';
    font-size: 40px;
    text-align: center;
    margin-top: 0;
}


.parcours section{
    margin: 15px;
    color: var(--black);
}

.parcours section h4{
    font-family: 'poppins-ExtraBold';
}

.parcours section p{
    font-family: 'roboto';
}

.parcours .description{
    margin-bottom: 80px;
    width: 100%;
}

.parcours section img{
    width: 80px;
    border: 5px solid var(--blue);
    border-radius: 100px;
    position: absolute;
    display: none;
    z-index: -1;
}

.tree .react::before{
    position: absolute;
    left: 58px;
    width: 5px;
    margin-left: -1.5px;
    content: '';
    background-color: var(--blue);
    z-index: -2;
}

.parcours .next {
    width: 20px;
    border: 5px solid var(--blue);
    border-radius: 100px;
    height: 20px;
    background-color: var(--orange);
    margin-left: 45px;
    display: none;
    margin-top: -2px;
    position: relative;
}

/* reponsive mobile */

@media screen and (min-width: 375px) {
    .parcours .description {
      padding-left: 100px;
      width: 250px;
    }
    
    .parcours section img{
        display: inline;
    }

    .tree .react::before{
        height: 1465px;
    }   

    .parcours .next {
        display: block;
    }
  }

@media screen and (min-width: 425px) {
    .tree .react::before{
        height: 1390px;
    }
    .parcours .description{
        width: 300px;
    }
}

@media screen and (min-width: 530px) {
    .tree .react::before{
        height: 1120px;
    }
    
    .parcours .description{
        width: 400px;
    }
}

/* responsive PC */

@media screen and (min-width: 1024px) {
    .parcours .tree{
        display: flex;
        flex-direction: column;
        margin-left: calc(50vw - 80px);
        height: 200vh;
        justify-content: space-around;
    }
    .parcours .description{
        position: absolute;
        padding-left: 180px;
        margin-top: -25px;
    }


    .parcours .WA .description, .parcours .Valeo .description{
        padding-left: 0;
        margin-left: -420px;
        text-align: end;
    }

    .parcours section img{
        width: 150px;
    }

    .tree .react::before{
        left: 50.7vw;
        width: 5px;
        margin-left: 0;
        height: 160vh;
    }

    .parcours .next{
        margin-left: 80px;
    }

    .parcours h3{
        margin: 2% 0 -4% 0;
        font-size: 6vw;
    }
}