@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

.orange{
    color: #ed563b;
}

a{
    text-decoration: none;
    color: white;
}

.logo{
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 800;
}

body{
    margin: 0;
}

body{
    font-family: 'Poppins';
}

button{
    background-color: #ed563b;
    border: 0px;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
    user-select: none;
}

button:hover{
    background-color: #eeaa9e;
    color: black;
}

h3{
    text-transform: uppercase;
    font-size: 30px;
}


.HeaderSection{
    text-align: center;
    width: 40%;
}

footer{
    text-align: center;
}

html{
    scroll-behavior: smooth;
}